{% form 'product', product, class:'product-form' %}
	<p class="product__price {% if current_variant_sale %}product__price--sale{% endif %}" data-product-price aria-live="polite">
      <span class="product__sale-price-label visually-hidden"> {{ 'products.product.sale_price' | t }} </span>
      <span class="product__regular-price-label visually-hidden"> {{ 'products.product.price' | t }} </span>
      <span class="product__current-price" data-regular-price>{{ current_variant.price | money }}</span>
	  <span class="product__inventory-count">{{ current_variant.inventory_quantity }} cases in stock</span>
      {% assign case_count = 10 %}
      <!-- if product in grit bites collection && in full cases collection, count = 10 else if in grit bites collection and not in full cases collection cound = 4, else count = 1 and dont display .product__price-per-bag -->
      {% if product.title == "GRIT Sampler" %}
      	<span class="product__price-per-bag">{{ current_variant.price | divided_by: 4 | money }} per bag </span>
      {% else %}
      	<span class="product__price-per-bag">{{ current_variant.price | divided_by: 10 | money }} per bag </span>
      {% endif %}
      {% unless current_variant.compare_at_price == blank %}
        <div>
          <span class="product__compare-price-label" style="font-weight: 500;"> {{ 'products.product.regular_price' | t }} </span>
          <s class="product__compare-price" style="padding: 0.5rem; margin: 0.5rem;" data-compare-price>{{ current_variant.compare_at_price | money }}</s>
          <span style="font-style: italic;"> ends soon </span>
      	</div>
	  {% endunless %}
	</p>
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      <div class="product-form__item supports-js">

        {% if option.name != 'default' %}
          <label class="single-option-selector__label{% unless section.settings.show_variant_labels %} single-option-selector__label--hidden{% endunless %}" for="{{ option.name | escape }}">{{ option.name }}</label>
        {% endif %}

        <select id="case-of" name="{{ option.name | escape }}" class="single-option-selector gold" data-option-input>
          {% for value in option.values %}
            {% assign safeValue = value | replace: '"', '&quot;' %}
            <option value="{{ safeValue }}" {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  {% endunless %}

  <select name="id" class="product-form__master-select supports-no-js" data-master-select>
    {% for variant in product.variants %}
      {% if variant.available %}

        {% comment %}
        Note: if you use option_selection.js, your select tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
        {% endcomment %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if section.settings.show_quantity_selector %}
    <div class="product-form__item product-form__quantity-selector">
      <label class="product-form__quantity-label{% unless section.settings.show_variant_labels %} product-form__quantity-label--hidden{% endunless %}" for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
      <input class="product-form__quantity-input" type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" pattern="[0-9]*">
    </div>
  {% endif %}

  <button class="btn btn--to-secondary btn--full product__add-to-cart-button{% if section.settings.enable_payment_button and current_variant.available %} shopify-payment-btn btn--secondary{% endif %}" data-cart-submit type="submit" name="add" {% unless current_variant.available %} disabled="true"{% endunless %} aria-live="polite">
    <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
      {% unless current_variant.available %}
        {{ 'products.product.sold_out' | t }}
      {% else %}
        {{ 'products.product.add_to_cart' | t }}
      {% endunless %}
    </span>
    <span class="secondary-text" aria-hidden=true data-cart-secondary-submit-text>{{ 'products.product.view_cart' | t }}</span>
  </button>
  <p class="product__notification text-small text-center" data-cart-notification></p>
  {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
  {% endif %}
{% endform %}
{% include 'banana-stand-product-page-container' %}